body{
	font-family: sans-serif;
}
h1{
	text-align: center;
}
.gallery{
	border:1px solid;
}
.gallery img{
	width: 500px;
	padding: 5px;
	filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover{
	filter:grayscale(0);
	transform: scale(1.1);
}